<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seax.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.seax.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_password" property="userPassword"
			jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="modified_time" property="modifiedTime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 人员基本查询 -->
	<select id="select" resultMap="BaseResultMap" useCache="false">
		select
		user_name,
		user_password,
		nick_name,
		mobile,
		created_time,
		modified_time
		from
		user as u
		<where>
			<if test="userName != null and userName !=''">
				and user_name like concat("%",#{userName},"%")
			</if>
			<if test="nickName != null and nickName !=''">
				and nick_name like concat("%",#{nickName},"%")
			</if>
			<if test="mobile != null and mobile !=''">
				and mobile like concat("%",#{mobile},"%")
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.seax.entity.User">
	INSERT INTO `user` (
		user_name,
		user_password,
		nick_name,
		<if test="mobile != null and mobile !=''">
			mobile,
		</if>
		created_time
	)
	VALUES (
		#{userName},
		#{userPassword},
		#{nickName},
		<if test="mobile != null and mobile !=''">
			#{mobile},
		</if>
		#{createdTime}
	)
	</insert>
	
	<!-- 根据id查询人员 -->
	<select id="selectOneUserByUserName" resultMap="BaseResultMap" useCache="false">
		select
		id,
		user_name,
		nick_name
		from
		user as u
		<where>
			user_name = #{userName}
		</where>
	</select>

</mapper>